@model Change.Model.MachineParamterModel
@using Change.Common.Extension
@{
    ViewData["Title"] = "详细信息";
}

<div class="header padding-top-30">
    <ol class="breadcrumb">
        <li>设备管理</li>
        <li>设备列表</li>
        <li>参数列表</li>
        <li class="active">详细信息</li>
    </ol>

</div>
<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="card-title">
                        <div class="title">
                            详细信息
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("CreateParam", "Machine", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.HiddenFor(x => x.Id)
                        <div class="form-group">
                            @Html.LabelFor(x => x.ActiveWirelessTechnology, new { @class = "col-sm-2 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.ActiveWirelessTechnology, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.WifiVendor, new { @class = "col-sm-2 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.WifiVendor, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.RegionInfo, new { @class = "col-sm-2 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.RegionInfo, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.RegionCode, new { @class = "col-sm-2 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.RegionCode, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.MinimumSupportediTunesVersion, new { @class = "col-sm-2 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.MinimumSupportediTunesVersion, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.FirewareVersion, new { @class = "col-sm-2 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.FirewareVersion, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.ProductVersion, new { @class = "col-sm-2 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.ProductVersion, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.ProductType, new { @class = "col-sm-2 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.ProductType, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.ProductName, new { @class = "col-sm-2 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.BuildVersion, new { @class = "col-sm-2 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.BuildVersion, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.DeviceClass, new { @class = "col-sm-2 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.DeviceClass, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.DeviceColor, new { @class = "col-sm-2 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.DeviceColor, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.DeviceNameStr, new { @class = "col-sm-2 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.DeviceNameStr, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.HardwarePlatform, new { @class = "col-sm-2 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.HardwarePlatform, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.HWModelStr, new { @class = "col-sm-2 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.HWModelStr, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.DeviceVariant, new { @class = "col-sm-2 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.DeviceVariant, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.CPUArchitectureName, new { @class = "col-sm-2 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.CPUArchitectureName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.UserAssignedDeviceName, new { @class = "col-sm-2 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.UserAssignedDeviceName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.UniqueDeviceId, new { @class = "col-sm-2 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.UniqueDeviceId, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.SerialNumber, new { @class = "col-sm-2 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.SerialNumber, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.ModelNumber, new { @class = "col-sm-2 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.ModelNumber, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Enable, new { @class = "col-sm-2 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.Enable, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.CreateTime, new { @class = "col-sm-2 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.CreateTime, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.UpdateTime, new { @class = "col-sm-2 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.UpdateTime, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

